.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 20px; /* Space between items */
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Distribute space between items */
  align-items: center; /* Align items vertically */
}

h1,h2,h3,h4,h5,h6{
  font-family: "Markazi Text";
}

p{
  font-family:'Courier New', Courier, monospace;
}

span{
  font-family:'Courier New', Courier, monospace;

}